<?xml version='1.0' encoding='UTF-8'?>
<plugin id="com.example.PCN-pdf">
    <require plugin="org.dita.pdf2"/>
    <feature extension="dita.conductor.transtype.check" value="PCN-pdf"/>
    <feature extension="dita.transtype.print" value="PCN-pdf"/>
    <feature extension="dita.conductor.target.relative" file="integrator.xml"/>
</plugin>